<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Charisma</title>
<link href="css/charisma_style.css" rel="stylesheet" type="text/css" />
<link href="css/menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page_holder">
	<div class="container">
    		<div class="top_menu">
            <!-- **Top-Menu** -->
        	<ul class="menu">
            	<li class="current_page_item"> <a href="index.html" title="" style="padding-left:19px"> <span> Its home </span> Home </a> </li>                                                        
                <li> <a href="aboutus.html" title=""> <span> Who we are </span> About Us </a>  </li>
				<li> <a href="#" title=""> <span> What we offer </span> Services </a> 
                	<ul>
                    	<li> <a href="services.html" title="">Services Overview </a>  </li>
                        <li> <a href="price_list.html" title=""> Price List </a>  </li>
                         <li> <a href="excited_offer.html" title="">Excited Offer</a>  </li>
                          <li> <a href="client_feedback.html" title="">Client Feedback</a>  </li>
                          <li> <a href="gift-voucher.html" title="">Buy a Gift Voucher</a>  </li>
                    </ul>  
                </li>
                <li> <a href="#" title=""> <span> Visual look </span> Gallery </a>
                <ul>
                    	<li> <a href="spa_treatment.html" title="">Spa & Treatments</a>  </li>
                        <li> <a href="photos.html" title="">Photos </a>  </li>
                         <li> <a href="videos.html" title="">Videos</a>  </li>
                  </ul>  
</li>
                <li> <a href="index.html" title=""> <span> News </span> News </a> </li>
                <li> <a href="index.html" title=""> <span> Our clients speaks </span> Testimonial </a> </li>
<li> <a href="index.html" title=""> <span> Join us </span> Careers </a> </li>
                <li> <a href="#" title=""> <span> We are here </span> Contact Us </a> 
                <ul>
               	  <li> <a href="index.html" title="">Location</a>  </li>
                        <li> <a href="index.html" title="">Enquiry </a>  </li>
                         <li> <a href="index.html" title="">Franchisee</a>  </li>
                  </ul>  
              </li>
	          </ul>        	
      </div> <!-- **Top-Menu - End** -->
      <div class="logo"><a href="index.html" alt="charisma spa"><img src="images/logo.png" width="215" height="123" /></a></div>
      <div class="call" >Bangalore<br /><span> +91 9742009417</span></div>
      <div class="call2" >Mumbai<br />
      <span> Andheri : +91 98204 32494 | Bandra : +91 9769181644 </span> </div>
      <div class="social"> Follow us on <a href="https://www.facebook.com/CharismaSpaSalon" target="_blank"><img src="images/fb_icon.png" width="40" height="40" border="0" align="absmiddle" class="social_effect" /></a> <a href="https://twitter.com/charisma_spa" target="_blank"><img src="images/twitter_icon.png" width="40" height="40" border="0" align="absmiddle" class="social_effect" /></a></div>
    </div><!-- container ends-->
</div><!-- page holder ends-->
   <div class="clear"></div><div class="page_holder_inner">
   <div class="page_holder">  
            <div class="title_inner"><span><a href="index.html">HOME /</a></span> EXCITED OFFERS</div>
<div class="center_2_left_inner">
  <table width="650" border="0" align="left" cellpadding="8" cellspacing="3" style="margin-top:15px;">
    <tr>
      <td width="13" align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td width="492" class="description border_bottom_new"> Deep Tissue massage
You will get Head massage Free</td>
      <td width="85" align="center" class="border_bottom_new">&nbsp;</td>
    </tr>
    <tr>
      <td width="13" align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td width="492" class="description border_bottom_new"> Aroma massage
You will get Facial Or Hair cut Free</td>
      <td width="85" align="center" class="border_bottom_new">&nbsp;</td>
    </tr>
    <tr>
      <td width="13" align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td width="492" class="description border_bottom_new">Head to toe destress massage
You will get Facial Or Hair cut Free</td>
      <td width="85" align="center" class="border_bottom_new">&nbsp;</td>
    </tr>
    <tr>
      <td width="13" align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td width="492" class="description border_bottom_new"> Exciting slimming offers
75% discount on slimming
</td>
      <td width="85" align="center" class="border_bottom_new">&nbsp;</td>
    </tr>
    <tr>
      <td width="13" align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td width="492" class="description border_bottom_new">Weight loss inch loss tummy reduction</td>
      <td width="85" align="center" class="border_bottom_new">&nbsp;</td>
    </tr>
    <tr>
      <td width="13" align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td width="492" class="description border_bottom_new">Body Care</td>
      <td width="85" align="center" class="border_bottom_new">&nbsp;</td>
    </tr>
    <tr>
      <td width="13" align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td width="492" class="description border_bottom_new"> Charisma Spa Current Offer</td>
      <td width="85" align="center" class="border_bottom_new"><a href="images/current_offers.jpg" target="_blank" class="email">Price Details<br /> 
        <span class="view_more">(for Bangalore)</span></a></td>
      </tr>
    <tr>
      <td width="13" align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td width="492" class="description border_bottom_new">Charisma Spa Offer 2nd (Pay Rs.5000/- and get
services worth Rs.12000/-)</td>
      <td width="85" align="center" class="border_bottom_new"><a href="images/2nd_offers.jpg" target="_blank" class="email">Price Details</a> <br /> 
        <span class="view_more">(for Bangalore)</span></td>
    </tr>
    <tr>
      <td align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td class="description border_bottom_new">Charisma Spa Offer 3rd</td>
      <td width="85" align="center" class="border_bottom_new"><a href="images/3rd_offers.jpg" target="_blank" class="email">Price Details</a> <br /> 
        <span class="view_more">(for Bangalore)</span></td>
    </tr>
    <tr>
      <td align="left"><img src="images/bullet.png" width="12" height="12" /></td>
      <td class="description border_bottom_new">Charisma Spa Offer 4th
Thai Massage
Derma White Skin Facial
Weight Loss session & Consultation
Spa Manicure
Spa Pedicure
Hair Spa
(Worth Rs.13000/- just in Rs.5000/- Offer Valid for Limited Period)</td>
      <td width="85" align="center" class="border_bottom_new">&nbsp;</td>
    </tr>
  </table>
</div><!-- center_2_left_inner  end-->
  <div class="right_bar">
    <div class="quick-enquiry">
    <div class="title_bg2">QUICK ENQUIRY</div>
        <form name="qform" id="qform" method="post" action="" >
        <div style="margin:0px; width:100%px;">
        <p style=" margin:10px;" align="center" class="normal-text">Note: The fields marked with (*) are compulsory.</p>
        <div style="width:60px; float:left; margin-left:8px; margin-top:5px;">
    <p style="line-height:25px; margin-top:10px; margin-bottom:0px;" align="right" class="normal-text"  > <strong>* Name : </strong></p>
    <p style="line-height:25px; margin:22px 0px 9px 0px;"  align="right" class="normal-text"> <strong>* Email :</strong></p>
    <p style="line-height:25px; margin:22px 0px 0px 0px;" align="right" class="normal-text"> <strong>* Mobile :</strong></p>
        </div><!-- left end text_fields-->
		<div style="float:left; width:220px; margin-left:5px; margin-top:5px;">
<p style="line-height:45px; margin-top:10px;" align="left" ><input name="qname" id="name" type="text" required="required" class="text_fields2" /></p>
<p style="line-height:45px; margin-top:18px;" align="left" ><input name="qemail" id="qemail" type="email" required="required"  class="text_fields2" /></p>
<p style="line-height:45px; margin-top:18px;" align="left" ><input name="qmobile" placeholder="10 digit mobile number" maxlength="10" id="qmobile" rows="5" class="text_fields2"  required="required" /></p>
<p style="margin:0px;" align="right"><input name="qsubmit" type="submit" id="qsubmit" class="submit_bttn" value="Submit" /></p>
		</div>
		</div>
</form> 
            </div><!-- quick enquiry end-->
            <div class="clear"></div>
		<div style="width:100%; margin-top:20px;">
   		<div class="title_bg2">GIFT A FRIEND</div>
   <a href="gift-voucher.html"><img src="images/gift_inner.jpg" width="282" height="153" border="0" style="margin:10px;" /></a>
        </div>
        <div style="width:100%; margin-top:20px;">
   		<div class="title_bg2">WORKING HOURS</div>
        <p style="margin:10px" class="time" ><span>Monday to Sunday :</span> 10am - 10pm</p> 	  
		<p style="margin:10px;" class="normal-text" align="left" ><strong>Bangalore </strong>  <br />Phone No: +91 80 41313530/ 41171269</p>
		<p style="margin:10px;" class="normal-text" align="left" ><strong>Mumbai,  Andheri ( W )  </strong>  <br />
		  Mobile No:  098204 32494</p>
		<p style="margin:10px;" class="normal-text" align="left" ><strong>Mumbai,  Bandra ( W )  </strong>  <br />Phone No: + 91 22-26421380 / 81 / 82</p>
        </div>
</div>    
</div><!-- pageholder end-->              
</div><!-- pageholder inner end-->
<div class="clear"></div>
      <div class="footer">
                    		<div class="footer_inner">
                              <div class="ff1" > 
                <div class="footer_titles" style="padding-left:10px;">QUICK LINKS</div>
                                    <div class="quick_links">
                                            		<ul>
                                                    <li> <a href="index.html">Home</a></li>
                                                    <li> <a href="aboutus.html">About Us</a></li>
                                                      <li> <a href="price_list.html">Services</a></li>
                                                      <li> <a href="index.html">News</a></li>
                                                        <li> <a href="spa_treatment.html">Gallery</a></li>
                                                          <li> <a href="index.html">Testimonials</a></li>
                                                           <li> <a href="index.html">Careers</a></li>
                                                             <li> <a href="index.html">Contact Us</a></li>
                                              </ul>
                                      </div><!--tips- end-->
                              </div><!-- ff1 ends-->
                              <div class="ff2" > 
                           	  <div class="footer_titles" style="padding-left:10px;">SERVICES</div>
                                    <div class="quick_links2">
                                            		<ul>
                                                    <li> <a href="services.html">Beauty Services</a></li>
                                                    <li> <a href="services.html">Skin care</a></li>
                                                      <li> <a href="services.html">Hair care</a></li>
                                                      <li> <a href="services.html">Hands & feet care</a></li>
                                      </ul>
                                      </div><!--tips- end-->
                                      <div style="float:right; width:80px; height:20px; text-align:right;"><a href="services.html" class="view_more">view more...</a></div>
                              </div><!-- ff2 ends-->
                              <style type="text/css">
                              #testifor_testimonial_carousal { 
							  width:230px !important;
							  overflow:hidden;
							  display:block;
							  }
							  #testifor_testimonial_scripts_WE3WWT73E93YUQRW
							  {
							  width:230px !important;
							  overflow:hidden;
							  display:block;
							  }
							  .testifor_testimonial_user {
								width:220px !important;
								display:block !important;
							  }
							  .testifor_script_footer
							  {
								display:none !important;
								visibility:hidden !important;
							  }
							  .testifor_testimonial_more a { 
								color: white !important;
								font-weight: bold !important; 
								float:left !important;
							  }
							  .testifor_testimonial_image
							  { 
								display:none !important;
							  }
							  .testifor_script_header
							  {
								display:none !important;
								padding:0px !important;
								margin:0px !important;
							  }
							  </style>
                              <div class="ff3" > <div class="footer_titles" style="padding-left:10px;">TESTIMONIALS</div>
								   <script src="display_widget/WE3WWT73E93YUQRW.js"></script>
								   <a href="javascript:void(0);" onclick="testifor_stop_slider()" id="testifor_stop_slider">
  <img src="https://www.testifor.com/assets/pause_slider.png" alt="Stop Slider"></a>
  <a href="javascript:void(0);" onclick="testifor_start_slider()" id="testifor_start_slider" style="">
  <img src="https://www.testifor.com/assets/start_slider.png" alt="Start Slider"></a>
                              </div><!-- ff3 ends-->
                              <div class="ff2" > 
                           	  <div class="footer_titles" style="padding-left:10px;">CONTACT US</div>
                                  <div style="float:left; margin:10px 7px 15px 0px;"><img src="images/tele_icon.png" width="26" height="26" /> </div>
                                   <div style="float:left; width:180px; margin:18px 0px;" class="footer_text3"> 099207 97385, 098670 29885<br /></div>
                                   <div class="clear"></div>
                                   <div style="float:left; margin:10px 7px 15px 0px;"><img src="images/email_icon.png" width="26" height="26" /> </div>
                                   <div style="float:left; margin:10px 0px; line-height:20px;" class="footer_text3"><a href="mailto:soni@charismabeautyspa.com" class="email2">soni@charismabeautyspa.com</a></div>
                                   <div class="clear"></div>
                              </div><!-- ff2 ends-->
                              <div class="clear"></div>
                            <div class="copyright" >© <a href="#" class="copyright_link">Charisma Spa Pvt. Ltd.</a> All Rights Reserved.</div>
                             <div class="poweredby" style="text-align:right;" >Powered by <a href="http://www.makshiinfotech.com" target="_blank" rel="nofollow" class="poweredby_link" >Makshi Infotech</a></div>
                            </div><!-- footer_inner ends-->
                    </div><!-- footer ends--><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-49329682-1', 'charismabeautyspa.com');
  ga('send', 'pageview');
</script>              
</body>
</html>