{% extends 'beautyapp/index.html' %}
{% load static %}
{% block homepage %}
<!-- Hero section -->
<div class="clear"></div>

<div class="wrapper">
  <div class="page_holder">
    <div class="slider">
      <div class="camera_wrap camera_azure_skin" id="camera_wrap_1" style="height:392px;">
        <div data-src="{%static 'beautyapp/images/slider_img1.jpg'%}"></div>
        <div data-src="{%static 'beautyapp/images/slider_img2.jpg'%}"></div>
        <div data-src="{%static 'beautyapp/images/slider_img3.jpg'%}"></div>
        <div data-src="{%static 'beautyapp/images/slider_img4.jpg'%}"></div>
      </div>
    </div>
    <!--slider end-->
    <div class="center1">
      <div class="services">
        <div class="title_bg" style="margin-top:10px;">SERVICES</div>
        <div class="serv_cat">
          <p style="margin:0px;" align="center"> <a href="#" class="serv_title">Men's Services</a></p>
          <p style="margin:0px;" align="center" class="serv_title"><a href="{%static 'beautyapp/images/for_him.jpg'%}" target="_blank"><img src="{%static 'beautyapp/images/men_services.png'%}" width="222" height="222" border="0" /></a></p>
          <p style="margin:5px;" align="justify" class="ser-text">Charisma Spa Pvt Ltd offers Men's Services which include distinctly designed services to ease down stress, along with good health and relaxation to your everyday life. </p>
        </div><!-- serv cat end-->
        <div class="serv_cat">
          <p style="margin:0px;" align="center"> <a href="#" class="serv_title">Skin Care</a></p>
          <p style="margin:0px;" align="center" class="serv_title"><a href="{%static 'beautyapp/images/skin_care.jpg'%}" target="_blank"><img src="{%static 'beautyapp/images/skincare.png'%}" width="222" height="222" border="0" /></a></p>
          <p style="margin:5px;" align="justify" class="ser-text">Charisma Spa is dedicated to reinvent your salon experience. Our skin care services are provided keeping in mind the requirements of contemporary Indian woman. So, in case you want
            to reinvent your look, feel free to visit us.</p>
        </div><!-- serv cat end-->
        <div class="serv_cat">
          <p style="margin:0px;" align="center"> <a href="#" class="serv_title">Bridal Services</a></p>
          <p style="margin:0px;" align="center" class="serv_title"><a href="{%static 'beautyapp/images/pre_bridal.jpg'%}" target="_blank"><img src="{%static 'beautyapp/images/bridal-services.png'%}" width="222" height="222" border="0" /></a></p>
          <p style="margin:5px;" align="justify" class="ser-text"> Wedding is the most cherished moment in life of every woman. We, at Charisma Spa Pvt. Ltd. offer you a host to bridal services, according to your beauty needs.</p>
        </div><!-- serv cat end-->
        <div class="serv_cat2">
          <p style="margin:0px;" align="center"> <a href="#" class="serv_title">Body Treatment</a></p>
          <p style="margin:0px;" align="center" class="serv_title"><a href="{%static 'beautyapp/images/body_care.jpg'%}" target="_blank"><img src="{%static 'beautyapp/images/body-treatment.png'%}" width="222" height="222" border="0" /></a></p>
          <p style="margin:5px;" align="justify" class="ser-text"> Don't have time for a thorough body treatment? Take your physique to the next level with our Charisma Spa formula. Find the most up-to-date cure and healing information here. </p>
        </div><!-- serv cat end-->
      </div><!-- services end-->
      <div class="clear"></div>
      <div class="title_bg" style="margin-top:20px;">POPULAR PROCEDURES </div>
      <div class="procedure">
        <div class="procedure_box">
          <div class="procedure_img"><img src="{%static 'beautyapp/images/ayurveda_spa.jpg'%}" width="221" height="240" /></div>
          <div style="margin:15px 0px; width:200px;" class="procedure_title" align="left">Ayurveda Spa</div>
          <p style="margin:15px 10px;" class="normal-text" align="justify">Don't have time for a thorough body treatment? Take your physique to the next level with our Charisma Spa formula. Find the most up-to-date cure and healing information
            here.</p>
          <div class="pro_button_bx"><a href="{%static 'beautyapp/images/ayurveda_packages.jpg'%}" target="_blank"><img src="{%static 'beautyapp/images/cross.gif'%}" width="32" height="32" border="0" class="button_bx_img" /></a></div>
        </div><!-- procedure box ends-->
        <div class="procedure_box2">
          <div class="procedure_img"><img src="{%static 'beautyapp/images/slimming.jpg'%}" width="221" height="240" /></div>
          <div style="margin:15px 0px; width:200px;" class="procedure_title" align="left">Slimming Packages</div>
          <p style="margin:15px 10px;" class="normal-text" align="justify">Today, everyone wants to look prim and proper, but our lifestyle doesn't allow us to do so. Hence, we at Charisma Spa Pvt. Ltd. Offer you a range of slimming packages, right
            at your doorstep.</p>
          <div class="pro_button_bx"><a href="{%static 'images/slimming_packages.jpg'%}" target="_blank"><img src="{%static 'beautyapp/images/cross.gif'%}" width="32" height="32" border="0" class="button_bx_img" /></a></div>
        </div><!-- procedure box ends-->
      </div><!-- procedure ends-->
      <div class="clear"></div>
      <div class="bottom-boxall3">
        <div class="boxall_1">
          <div class="title_bg2">TOP SPA TIPS</div>
          <div class="tips">
            <ul>
              <li> Go Light: Try not to eat any heavy meals or consume alcohol. Have something light to eat instead.</li>
              <li> Clean-Up: Take a warm to hot shower before your massage.</li>
              <li> Stretch Out: It also may be helpful to do some light stretching exercises.</li>
              <li> Take it easy: Don't do anything too strenuous right after spending time at the spa.</li>
            </ul>
          </div>
          <!--tips- end-->
        </div>
        <!--boxall_1 ends-->
        <div class="boxall_2">
          <div class="title_bg2">GIFT A FRIEND </div>
          <!--tips- end-->
          <p style="margin:10px 0px;"><a href="gift-voucher.html"><img src="{%static 'beautyapp/images/gift_card.jpg'%}" width="300" height="160" border="0" /></a></p>
        </div>
        <!--boxall_2 ends-->
        <div class="boxall_2">
          <div class="title_bg2">WORKING HOURS </div>
          <!--tips- end-->
          <p style="margin:10px;" class="time"><span>Monday to Sunday :</span> 10am - 10pm</p>
          <p style="margin:10px;" class="normal-text" align="left"><strong>Bangalore </strong> <br />Phone No: +91 80 41313530/ 41171269</p>
          <p style="margin:10px;" class="normal-text" align="left"><strong>Mumbai, Andheri ( W ) </strong> <br />
            Mobile No: 098204 32494</p>
          <p style="margin:10px;" class="normal-text" align="left"><strong>Mumbai, Bandra ( W )</strong> <br />Phone No: + 91 22-26421380 / 81 / 82</p>
        </div>
        <!--boxall_2 ends-->
      </div>
      <!--bottom-boxall 3 ends-->
      <div class="clear"></div>
      <div class="newsletter-box">
        <div class="newsletter-title">Subscribe to Newsletter</div>
        <form method="post" name="newsletter" action="">
          <div class="field"><input name="sname" type="text" class="text_fields" placeholder="Your Name" /></div>
          <div class="field"><input type="text" name="semail" class="text_fields" placeholder="Email Address" /></div>
          <div><input type="submit" class="subscribe_bttn" name="subscribe" value="SUBSCRIBE" /></div>
        </form>
      </div>
      <!--Newsletter ends-->
    </div><!-- center 1  end-->
  </div><!-- pageholder end-->
</div><!-- wrapper  end-->
<!--  brands section end -->
{%endblock%}
