{% extends 'beautyapp/index.html' %}
{% load static %}
{% block spa_treatment %}
	 <div class="clear"></div><div class="page_holder_inner">
   <div class="page_holder">
   <div class="title_inner"><span><a href="{%url 'home'%}">HOME /</a></span> SPA & TREATMENT</div>
<div class="gallery_center">
  <table width="100%" border="0" cellspacing="3" cellpadding="0">
    <tr>		<td align="center" valign="top"><a href="{% static 'beautyapp/gallery/183078855offer 2015.jpg'%}" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/183078855offer 2015.jpg&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
				<td align="center" valign="top"><a href="gallery/1065170014Charisma Beauty Spa Wellness.jpg" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/1065170014Charisma Beauty Spa Wellness.jpg&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
				<td align="center" valign="top"><a href="gallery/8889724716 x 3 Final_3_.jpg" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/8889724716 x 3 Final_3_.jpg&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
				<td align="center" valign="top"><a href="gallery/2106569011HP HOURS.jpg" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/2106569011HP HOURS.jpg&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
				<td align="center" valign="top"><a href="gallery/1333127210image.jpeg" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/1333127210image.jpeg&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
		</tr><tr><td colspan="5">&nbsp;</td></tr><tr>		<td align="center" valign="top"><a href="gallery/1904694720Nail Art.JPG" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/1904694720Nail Art.JPG&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
				<td align="center" valign="top"><a href="gallery/24871473Turkish Bath Hammam.png" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/24871473Turkish Bath Hammam.png&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
				<td align="center" valign="top"><a href="gallery/2100410180summer_massage_01111.bmp" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/2100410180summer_massage_01111.bmp&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
				<td align="center" valign="top"><a href="gallery/442310991IMG_8559.JPG" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/442310991IMG_8559.JPG&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
				<td align="center" valign="top"><a href="gallery/313731113IMG_87555.jpg" class="fancybox" data-fancybox-group="gallery"  ><img src="timthumb/script/timthumb.php?src=gallery/313731113IMG_87555.jpg&a=t&w=173&h=173"  width="173" height="173" class="imgborder2" /></a></td>
		</tr><tr><td colspan="5">&nbsp;</td></tr><tr>  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
	<td colspan="5">&nbsp;</td>
  </tr>
  </table>
    <div class="pagination">
				<div class="pagination"><style type="text/css">.pagination a {
    font-family:Arial, Helvetica, sans-serif;
	background-color: #272727;
    border: 1px solid #5c5c5c;
    color: #b7b7b7;
    font-size:12px;
	margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
} .pagination { font-family:Arial, Helvetica, sans-serif; text-align: center; font-size:12px;  margin: 3px; color:#333; padding: 3px;}
   </style><a class="next_prev_new"  href="index.html" style='text-decoration:none;'>[First]</a>&nbsp;&nbsp;<span class="next_prev_current" style='text-decoration:none;'>1</span>&nbsp;&nbsp;<a class=next_prev  href="index.html" style='text-decoration:none;'>2</a>&nbsp;&nbsp;<a class=next_prev  href="index.html" style='text-decoration:none;'>3</a>&nbsp;&nbsp;<a class="next_prev_new"  href="index.html" style='text-decoration:none;'>[Next]</a>&nbsp;&nbsp;<a class="next_prev_new"  href="index.html" style='text-decoration:none;'>[Last]</a>&nbsp;&nbsp;</div><br/>	</div>
</div><!-- gallery_center  end-->
</div><!-- pageholder end-->
</div><!-- pageholder inner end-->

			{%endblock%}
